body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#heartButton {
    font-size: 2em;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
    transition: transform 0.2s ease-in-out;
}

#heartButton:hover {
    transform: scale(1.2);
}
